@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('NotoIKEALatin-Regular.woff2') format('woff2'),
        url('NotoIKEALatin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('NotoIKEALatin-Bold.woff2') format('woff2'),
        url('NotoIKEALatin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

