@font-face {
    font-family: 'Ninna';
    src: url('assets/fonts/Ninna-Regular.woff2') format('woff2'),
        url('assets/fonts/Ninna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

