$color-1: #f00;
$color-2: #0f0;
$color-3: #fff;
$color-bg: #fff;
$color-text: #000;
$color-primary: #f37321;
$color-secondary: #5B5600;

$font: 'Helvetica', sans-serif;
$title-font: 'Black Ops One', sans-serif;
$weight: normal;

$width: 1080px;