$color-1: #08164e;
$color-2: #0e2d7b;
$color-3: #88bd44;
$color-bg: #08164e;
$color-text: #fff;

$font: 'Elkjop Bodytext', sans-serif;
$font-headings: 'Elkjop2 Headline2', sans-serif;
$weight: normal;

$width: 1080px;