$color-1: #00244A;
$color-2: #fff;
$color-3: #fff;
$color-bg: #fff;
$color-text: #00244A;

$font: 'Royal Sans', sans-serif;
$font-headings: 'Royal Serif', sans-serif;
$weight: normal;

$width: 1080px;